.custom-container {
    min-height: 20px;
    padding: 10px;
    background-color: rgba($color: #ffffff, $alpha: 0.5);
    border: 1px solid $well-border;
    border-radius: $border-radius-base;

    &.selected {
        border: 1px solid mat-color($idsc-theme-primary);
    }

    .custom-container-collapsible {
        margin-top: 10px;
        margin-left: -10px;
        margin-right: -10px;
        margin-bottom: -10px;
        padding: 10px;
        border-top: 1px solid $well-border;
        background-color: rgba($color: #8a8a8a, $alpha: 0.1);
    }
}
