$topnav-height: 64px;
$sidebar-bg-image: '../../assets/images/sidebar_2.png';
$map-bg-pattern: '../../assets/images/patterns/crossword.png';
// border
$border-radius-base: 4px;
$border-radius-large: 6px;
$border-radius-small: 3px;
// well
$well-bg: #f5f5f5;
$well-border: darken($well-bg, 7%);
// footer
$footer-height: 35px;
$footer-border: darken($well-bg, 7%);